In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv('Heart_Disease_Ditection_logisticRegression.csv')

In [4]:
data.head(10)

     BMI  heartRate  Heart_Disease
0  26.97       80.0               0
1  28.73       95.0               0
2  25.34       75.0               0
3  28.58       65.0               1
4  23.10       85.0               0
5  30.30       77.0               0
6  33.11       60.0               1
7  21.68       79.0               0
8  26.36       76.0               0
9  23.61       93.0               0

In [5]:
X = data.iloc[:, 0:2]
y = data.iloc[:, -1]

In [6]:
X

        BMI  heartRate
0     26.97       80.0
1     28.73       95.0
2     25.34       75.0
3     28.58       65.0
4     23.10       85.0
...     ...        ...
4233  25.97       66.0
4234  19.71       65.0
4235  22.00       84.0
4236  19.16       86.0
4237  21.47       80.0

[4238 rows x 2 columns]

In [7]:
y

0       0
1       0
2       0
3       1
4       0
       ..
4233    1
4234    0
4235    0
4236    0
4237    0
Name: Heart_Disease , Length: 4238, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
class LogisticRegression:

    def __init__(self, lr=0.01, n_iters=10000):
        self.lr = lr
        self.n_iters = n_iters
        self.weights = None
        self.bias = None
        
    def sigmoid(self, x):
        return 1 / (1 + np.exp(-x))

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.weights = np.random.rand(n_features)
        self.bias = 0

        for _ in range(self.n_iters):
            linear_pred = np.dot(X, self.weights) + self.bias
            predictions = self.sigmoid(linear_pred)

            dw = (1/n_samples) * np.dot(X.T, (predictions - y))
            db = (1/n_samples) * np.sum(predictions - y)

            self.weights = self.weights - self.lr * dw
            self.bias = self.bias - self.lr * db
            
            
    def predict(self, X):
        linear_pred = np.dot(X, self.weights) + self.bias
        y_pred = self.sigmoid(linear_pred)
        class_pred = [1 if y > 0.5 else 0 for y in y_pred]
        return class_pred

In [14]:
model = LogisticRegression(lr=0.01, n_iters=6000)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [15]:
accuracy = accuracy_score(y_test, predictions)
print("Logistic Regression Accuracy:", accuracy)

Logistic Regression Accuracy: 0.8537735849056604